li:nth-child(1) {
	margin-left: auto; 
  margin-right: auto; 
}

ul {
			display: flex;
			border: 1px solid red;
            padding: 0; 
			list-style: none;
			background-color: #ffea9e;
		}

li {
			flex: 0 0 auto;
		  	background-color: #8cacea;
		 	margin: 8px;
		 	color: #fff;
		 	padding: 4px;
		}
